.stats {
  position: fixed;
  bottom: 0;
  right: 5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vh 2vw;
  background: #db8876;
  border-radius: 5px 5px 0 0;
  &_price {
    margin-left: 5vh;
  }
  @media screen and (max-width: 750px) {
    display: none;
  }
}
