.lightbox-background {
  background: $gray-light;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row nowrap;
  .arrow {
    border: solid $color-primary;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: clamp(5px, 1vw, 10px);
  }
  .left-arrow {
    transform: rotate(135deg);
  }
  .right-arrow {
    transform: rotate(-45deg);
  }
}

.lightbox {
  z-index: 3;
  width: 70vh;
  height: 90vh;
  max-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  img,
  video {
    width: 100%;
    height: clamp(50vh, 95%, 80vh);
    object-fit: cover;
  }
  .gallery_thumbnail {
    &--text-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-top: 3vh;
    }
    &--counter {
      display: none;
    }
  }
  @media screen and (max-width: 700px) {
    width: 80vw;
    height: auto;
  }
}
.close {
  position: absolute;
  right: calc(calc(100vw - 70vh) / 5);
  top: 7vh;
  width: 3vh;
  height: 3vh;
  opacity: 0.3;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &:before,
  &:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 3vh;
    width: 3px;
    background-color: $color-primary;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  @media screen and (max-width: 600px) {
    right: 4vw;
    top: calc(50% - 19.8vh);
  }
}
